@model List<g181210044_g191210044.Entity.BlogYazisi>
@{
    ViewBag.Title = "Yayin1";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}


@{
    var l = Model.ToArray();
}

<body>
    <section id="blog" class="parallax-section">
        <div class="container">
            <div class="row">

                <div class="col-md-8 col-sm-7">

                    <div class="blog-content wow fadeInUp" data-wow-delay="1s">
                        <h3>The best way to make Online Business</h3>
                        <span class="meta-date"><a href="#">14 May 2016</a></span>
                        <span class="meta-comments"><a href="#blog-comments">10 comments</a></span>
                        <span class="meta-author"><a href="#blog-author">David Walker</a></span>
                        <div class="blog-clear"></div>
                        <p>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet, wisi risus purus augue vulputate voluptate neque, curabitur dolor libero sodales vitae elit massa. Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet.</p>
                        <p>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet, wisi risus purus augue vulputate voluptate neque, curabitur dolor libero sodales vitae elit massa.</p>

                        <div class="blog-image wow fadeInUp" data-wow-delay="0.9s">
                            <img src="images/blog-thumb.jpg" class="img-responsive" alt="blog">
                        </div>
                    </div>

                    @*<-- buradasın -->*@
                    <div class="blog-comment wow fadeInUp" data-wow-delay="1s">
                        <h3>2 comments</h3>
                        <div class="media">
                            <div class="media-object pull-left">
                                <img src="images/comment1.jpg" class="img-responsive img-circle" alt="blog">
                            </div>
                            @await Component.InvokeAsync("YeniYorumlar");
                            
                        </div>
                    </div>

                    <div class="blog-comment-form wow fadeInUp" data-wow-delay="1s">
                        <h3>Leave a comment</h3>
                        <form action="#" method="post" id="comment-form">
                            <div class="col-md-6 col-sm-6">
                                <input type="text" class="form-control" placeholder="Name" name="name" required>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <input type="email" class="form-control" placeholder="Email" name="email" required>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <textarea class="form-control" placeholder="Message" rows="5" name"message" required id="message"></textarea>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <input name="submit" type="submit" class="form-control" id="submit" value="Submit">
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </section>
</body>