@model List<g181210044_g191210044.Entity.Yorum>


@foreach (var item in Model)
{
    <div class="media-body">
        <h4 class="media-heading">@item.UyeId</h4>
        @*<h5>@item.Uye</h5>*@
        <p>@item.Icerik</p>
       
    </div> 
    <br \>
}